@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@300&family=Roboto+Slab&family=Roboto:wght@300&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    padding: 170px 100px;
    font-size: 64px;
    font-weight: bolder;
    background-color: rgb(68, 219, 206);
}

.head {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin: auto;
    padding-top: 100px;
}

form {
    margin: auto;
    width: 50%;
    padding-bottom: 200px;
}


input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}


input[type="submit"] {
    margin-top: 30px;
    width: 50%;
    padding: 10px 15px;
    background-color: rgb(56, 177, 165);
    border-radius: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: 3px solid black;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: rgb(34, 139, 123);
}

@media only screen and (max-width: 400px) {
    .contact {
        text-align: center;
        padding: 100px 100px;
        font-size: 50px;
    }

    .head {
        text-align: center;
        font-size: 25px;
        margin: 20px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    input[type="email"],
    textarea {
        margin: 5px;
    }

    input[type="submit"] {
        margin-top: 20px;
        width: 100%;
    }


}


.footer {
    background-color: black;
}

.footer-head {
    list-style: none;
    display: flex;
    padding-top: 50px;
    padding-left: 135px;
}

.footer-logo {
    margin-top: 20px;
    padding-right: 1000px;
    margin-bottom: 30px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.f-under-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 8px;
    color: white;
}

.media-icons {
    padding: 10px 5px;
    color: aliceblue;
}

.media-icons :hover {

    color: aqua;
}

.f-info {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.f-box {
    padding: 50px 100px;
}

.f-box-ul {
    list-style: none;
}

.f-box-li {
    padding: 7px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.f-box-ul :hover {
    text-decoration-line: underline;
    color: aliceblue;
    cursor: pointer;
}

.f-box-h {
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

.copy {
    color: white;
    display: flex;
    justify-content: end;
    padding: 10px 150px 50px 10px;
}


@media only screen and (max-width: 1480px) {
    .footer-head {
        padding-left: 80px;
    }

    .footer-logo {
        padding-right: 580px;
    }
}

@media only screen and (max-width: 1030px) {
    .footer-head {
        padding-left: 80px;
    }

    .footer-logo {
        padding-right: 300px;
        font-size: 40px;
    }

    .f-box {
        padding: 40px 30px;
    }

    .f-box-h {
        font-size: 20px;
    }

    .f-box-li {
        font-size: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .footer-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-head {
        padding-left: 10px;
    }

    .footer-logo {
        padding-right: 10px;
        font-size: 40px;
    }

    .f-box {
        padding: 30px 15px;
    }

    .f-box-h {
        font-size: 17px;
    }

    .copy {
        padding: 0px 30px 50px 0px;
    }
}

@media only screen and (max-width: 300px) {
    .f-box {
        padding: 30px 7px;
        text-align: center;
    }

    .f-box-h {
        font-size: 10px;
        text-align: center;
    }

    .copy {
        padding: 0px 30px 50px 0px;
        font-size: 13px;
    }
}